.dataTable {
    background-color: #FFF;
    padding: 20px;
}

.MuiDataGrid-toolbarContainer {
    flex-direction: row-reverse;
}
.action{
    display: flex;
    gap:10px;

}

img{
    width:35px;
    height:35px;
    object-fit: cover;
    border-radius: 50%;
}